<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>LP PHOTO</title>
        <link rel="icon" href="image/camera.ico">
        <link rel="stylesheet" href="style/index.css">
        <script defer src="/scripts/index.js">
           
        </script>

    </head>
    <body>
        <div>
            <h1 style="text-align: center;">Let's Play Photo📷</h1>
        </div>

        <div>
            <a href="/main" height="5" width="10" target="">
                <img id="mainImage" src="image/play.png" alt="메인 클릭 버튼" >
            </a>
        </div>
    </body>



</html>