<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>LP MUSIC</title>
        <link rel="icon" href="image/Musical.ico">
        <link rel="stylesheet" href="style/index.css">
        
    </head>
    <body>
        <div>
            <h1 style="text-align: center;">This is Main Page💞</h1>
        </div>
        <audio autoplay id="musicPlayer">
            <source src="/music/sample.mp3" type="audio/mp3">
        </audio>
        

        
    </body>



</html>