<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="UTF-8">
        <title name="title">LP PHOTO | {{title}}</title>
        <link rel="icon" href="image/camera.ico">
        <link rel="stylesheet" href="style/myPage.css">
        <link rel="stylesheet" href="style/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    </head>
    <body id="main">
        {% include "header.html" %}

        <div id="title" style="margin-bottom: 100px;">
            <h1 style="margin-left: 33%; "><b>{{user.nick}} 님의 사진첩 {{user.email}}</b> 📖</h1>
        </div>

        
        <div style="display: flex;  flex-direction: column; justify-content: center; align-items: center;">
            <h2>사진 1</h2>
            
            <a href="mypage/">링크 1</a>
        </div>
         <hr style="width: 50%; margin: 0 auto">
         <div style="display: flex;  flex-direction: column; justify-content: center; align-items: center;">
            <h2>사진 2</h2>
        </div>


        {% include "footer.html" %}
    </body>
</html>