<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>LP PHOTO | {{title}}</title>
        <link rel="icon" href="image/camera.ico">
        <link rel="stylesheet" href="style/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

        <script>
            window.addEventListener('load', function() {
	
            const container = document.querySelector('.container');
            const frame = container.querySelector('.frame');
            const fileInput = container.querySelector('input[type="file"]');
            const form = document.querySelector('.photo-upload');
            
            fileInput.addEventListener('input', () => {
                
            const previousImage = frame.querySelector('.thumbnail');
            if (previousImage) {
                frame.removeChild(previousImage);
            }

                if(!isImage(fileInput.files[0])) {
                    return alert('Image 파일만 업로드 할 수 있습니다.');
                   
                }
                
                const reader = new FileReader();
                
                reader.addEventListener('load', () => {
                    
                    const img = document.createElement('IMG');
                    img.classList.add('thumbnail');
                    img.src = reader.result;
                    
                    frame.insertAdjacentElement('beforeend', img);
                });
                
                reader.readAsDataURL(fileInput.files[0]);
            });
            
            form.addEventListener('submit', (event) => {
                if (!fileInput.files.length || !isImage(fileInput.files[0])) {
                    event.preventDefault(); // 이미지가 선택되지 않았거나 이미지가 아닌 경우 제출 방지
                    alert('이미지를 선택하세요.');
                }
            });

            
            function isImage(file){
                return file.type.indexOf('image') >= 0;
            }
        });

        function displaySelectedFile() {
        const fileInput = document.getElementById('fileInput');
        const selectedFileText = document.getElementById('selectedFileText');

        if (fileInput.files.length > 0) {
            selectedFileText.textContent = `선택된 파일: ${fileInput.files[0].name}`;
        } else {
            selectedFileText.textContent = '선택된 파일 없음';
        }
    }

             window.onload =() =>{
              if(new URL(location.href).searchParams.get('error')){
                alert(new URL(location.href).searchParams.get('error'));
              }
            }
        </script>
        <style>
            .custom-file-input {
            display: none;
        }
        .custom-button {
            background-color: #3498db;
            color: #fff;
            padding: 10px 15px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
        }
        .upload-button {
            background-color: #8076bb;
            color: #fff;
            padding: 10px 15px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
        }
        </style>
        
    </head>
    <body id="main">
        {% include "header.html" %}
        <div style="margin-top : 10%; text-align: center;">
            <h2 style="margin-bottom: 10px;"><b>사진 업로드 하기</b></h2>
            <h3>🖼️</h3>
                <hr>
            <form class="photo-upload" action="/post/upload" method="post" enctype="multipart/form-data">
                <div class="container">
                    <div style="margin-bottom : 30px;">
                        <input id="fileInput" name="img" type="file" class="custom-file-input" accept="image/*" onchange="displaySelectedFile()">
                        <input id="img-url" type="hidden" name="url">
                        <label for="fileInput" class="custom-button">이미지 추가하기</label>
                        <div id="selectedFileText" class="selected-file-text"></div>
                    
                    </div>
                   
                    <div style="display : flex; align-items: center; justify-content: center; margin-bottom: 50px;flex-direction: column;">
                        <textarea name="title" maxlength="100" style="width: 500px; resize: none; margin-bottom: 20px;" placeholder="제목 및 태그"></textarea>
                        <textarea id="twit" name="content" maxlength="1000" placeholder="내용 입력" style="resize: none; height: 100px; width: 500px;"></textarea>
                        <button type="submit" class="upload-button" style="margin-left: 10px; margin-top: 20px;">업로드</button>
                    </div>
                        
                    <div class="frame"></div>
                </div>
            </form>

             
              

        </div>

        {% include "footer.html" %}
    </body>
</html>